section.doitac{
    min-height:1200px;
}
ul{
    margin:0;
}
iframe{
    border-radius:0!important
}
.list-quymo{
    margin-left:0;
}
section.scale .list-quymo b{
    margin-bottom:5px;
    margin-top:10px;
}
section.contact span.wpcf7-not-valid-tip{
  color:#9E4500;
    padding-left: 5px;
        font-size: 14px;
        display:none;
}
#tong-quan .chudautu{
        padding-bottom: 220px;
}
#tong-quan{
    background-size: 100%;
}
#tong-quan.contact h2 
{
    color:white;
}
#tong-quan.contact p
{
    color: white;
}
#tong-quan.contact .hotline h3
{
    color: white;
}
#tien-ich .div2:before
{
    background-color: #0097A7;
}
.entry-header{
    position:static;
    
}
.wpcf7-form-control-wrap{
        display: block;
}
section.contact .form-submit .bt-submit{
    border-radius:45px;
    border-color: transparent;
}
section.contact .form-contact input, section.contact .form-contact textarea{
    color:white;
  
}
#news img{
    height:100%;
}
#main-menu li{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
            -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#main-menu ul.list-item ul{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
}
.toggle-dropdown{
    cursor: pointer;
    transition: all .4s ease-in-out;
}
#main-menu li:hover .toggle-dropdown, #main-menu li:active .toggle-dropdown, #main-menu li:focus .toggle-dropdown{
    color:#00aeef;
}
section.contact div.wpcf7-validation-errors{
    color:white;
    border-color:white;
    position: absolute;
    width: 100%;
    bottom: -35px;
}
section.contact .form-submit .bt-submit{
    background: #00DAF2;
}
img.btnphone
{
    width: 20px;
}
.phone-contact{
bottom: 40px;
right:22px;
}
#page-masterplan p
{
    color: white;
}
.phone-contact strong{
    color: #00DAF2;
    font-size: 28px;
}
section.contact{
    padding-top:80px;
}

/* trang gioi thieu*/
#tong-quan .div3{
    margin-bottom:-30px;
}

#news {
    padding-bottom: 160px;
}
#news .content-news{
    padding-bottom:50px;
}
.news-other{
    padding-bottom:150px;
}
#news-detail .content-news-detail{
    padding-bottom:50px;
}
#news-detail{
    background-image: none;
    margin-top:0;
    padding-bottom:160px;
}
.content-news-detail{
    background: url(../images/bg-foor.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:-60px;
    position: relative;
    padding-top: 100px;
    z-index:20;
}
.breadcrumb
{
    background-color: #00BCD4;
}
section.utility .circle-content .box-content p{
    margin-bottom:5px;
}
@media only screen and (max-width: 1024px) {
   
}
@media only screen and (max-width: 767px) {
   /* trang gioi thieu*/
#tong-quan .div3{
    margin-bottom:-30px;
}
}